.visual-bg{
    position : absolute;
    z-index: -1;
    width : 100%;
    height : 100%;
    left : 0;
    top : 0;
}
.visual-bg > img{
    width : 100%;
    height : 100%;
    object-fit: cover;

    transform: scale(1.3);
    transition : transform 1.5s;
}
.swiper-slide-active .visual-bg > img{
    transform: scale(1);
}
.scroll-icon{
    display: flex;
    flex-direction: column;
    gap : 12.5px;
    align-items: center;
    position : absolute;
    z-index: 1;
    color : #fff;
    bottom : 56px;
    left : 70px;
}
.scroll-icon > span{
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    /* font-size: 13px; */
	font-size : 16px;
    font-weight: 700;
    font-family: Montserrat;
}
.scroll-icon > .mouse{
    display: flex;
    justify-content: center;
    /* width : 24px; */
	width : 35px;
    /* height : 44px; */
	height : 60px;
    border-radius: 100px;
    border : 1px solid #fff;
    position : relative;
}
.scroll-icon > .mouse > .dot{
    width : 8px;
    height : 8px;
    border-radius: 50%;
    background : #fff;
    position : absolute;
    top : 12px;
    animation : scroll-icon 1.2s infinite;
}
@keyframes scroll-icon {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(20px);
    }
}
.visual-inner{
    max-width : 1514px;
    height : 100%;
    margin : 0 auto;
    padding-top : 20.2062vh;
	display: flex;
	justify-content: center;
}
.slide03 .visual-inner{
	justify-content: center;
}
.slide03 .visual-title{
	transform : scale(0.8);
	position : absolute;
	top : 12vh;
}
.visual-title-01{
    margin-bottom : 40px;
    transform: translateX(-100px);
    opacity: 0;
    transition : transform 1.5s, opacity 1.5s;
}
.slide03 .visual-title-01{
    margin-bottom : 20px;
	margin-left: 90px;
}
.swiper-slide-active .visual-title-01{
    transform: translate(0);
    opacity: 1;
}
.visual-title-02{
    margin-bottom : 40px;
    transform: translateX(100px);
    opacity: 0;
    transition : transform 1.5s, opacity 1.5s;
	margin-left: 100px;
}
.slide03 .visual-title-02{
	margin-left: 0px;
}
.swiper-slide-active .visual-title-02{
    transform: translate(0);
    opacity: 1;
}
.visual-title-03{
    position : relative;
    padding-top : 34px;
    font-size: 18px;
    font-family: sandoll-gothicneo2;
    line-height: 28px;
    letter-spacing: -0.04em;
    color : #222222;
    transform: translateY(100px);
    opacity: 0;
    transition : transform 1.5s, opacity 1.5s;
}
.slide03 .visual-title-03{
    position : relative;
    padding-top : 0px;
	margin-left: 50px;
}
.swiper-slide-active .visual-title-03{
    transform: translate(0);
    opacity: 1;
}
.visual-title-03::after{
    position : absolute;
    content : '';
    width : 50px;
    height : 1px;
    background : #222222;
    left : 0;
    top : 0;
}
.visual-slide{
    width : 100%;
    height : 100%;
    overflow: hidden;
}
.visual-img-title{
    width : 602px;
    height : 500px;
    position : absolute;
    z-index: 1;
    left : 50%;
    /* top : 18.3505vh; */
	top : 13vh;
    transform: translateX(-50%) scale(0.75);
}
.visual-img-title > img{
    position : absolute;
    transition : transform 1.5s, opacity 1s;
    transition-delay: 0;
}
.visual-img-title > img:nth-child(1){
    transform: translateX(-500px) scale(0.5);
    opacity: 0;
}
.visual-img-title > img:nth-child(2){
    top : 133px;
    transform: translateX(500px) scale(0.5);
    opacity: 0;
    transition-delay: .3s;
}
.visual-img-title > img:nth-child(3){
    bottom : 0;
    transform: translateX(-500px) scale(0.5);
    opacity: 0;
    transition-delay: .6s;
}
.visual-ment{
	position : absolute;
	top : 100%;
	/* left : 44.7396vw; */
	left : 30%;
	font-size : 15px;
	letter-spacing : -0.06em;
	line-height : 25px;
	color : #222222;
	font-weight : 500;
	transform: translateY(100px) scale(1.15);
	opacity : 0;
	transition : transform 1.5s, opacity 1s;
	transition-delay: .9s;
	white-space : nowrap;
}
.swiper-slide-active .visual-img-title > img,
.swiper-slide-active .visual-ment{
    transform: translate(0) scale(1.15);
    opacity: 1;
}
.swiper-slide .visual-img-title > img,
.swiper-slide .visual-ment {
    transition-delay: 0;
}

/**/
.main-section-premium{
    position : relative;
	transition : background .5s;
}
.main-section-premium.on{
	background : #000;
}
.premium-slide-01{
    transition : background .5s;
}
.premium-slide-01.on{
	/* background : #000; */
}
/* .premium-slide-02{
    background : #000;
    display : none;
} */
/* .on .premium-slide-01{
    display: none;
} */
/* .on .premium-slide-02{
    display: block;
} */
.premium-slide-01,
.premium-slide-02{
    position : absolute;
    /* width : 100%; */
	width : 75%;
    height : 100%;
    left : 0;
    top : 0;
}
.premium-01-img,
.premium-02-img{
    width : 303px;
    /* height : 311px; */
	height : 478px;

    background : #eee;
    position : absolute;
    transition : transform 1s , opacity 1s;
    /* transform: translateY(50px); */
    /* opacity: 0; */

	left:auto;right:auto;top:auto;bottom:auto;

	right : 0;
	bottom : 55px;

	
}
.premium-01-img > img,
.premium-02-img > img{
    width : 100%;
    height : 100%;
    object-fit: cover;
    object-position: center bottom;
}
.premium-slide-01 .swiper-slide,
.premium-slide-02 .swiper-slide{
}
.premium-slide-01 .swiper-slide-prev .premium-01-img,
.premium-slide-02 .swiper-slide-prev .premium-02-img{
	left:auto;right:auto;top:auto;bottom:auto;
    bottom : 0;
    width : 296px;
    height : 363px;
    animation : premiumImg1 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
}
.premium-slide-01 .swiper-slide-active .premium-01-img,
.premium-slide-02 .swiper-slide-active .premium-02-img{
	left:auto;right:auto;top:auto;bottom:auto;
    top : 192px;
    /* left : -173px; */
	/* left : -157px; */
	right : 12.1875vw;
	width : 391px;
	height : 311px;
    animation : premiumImg2 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
}
.premium-slide-01 .swiper-slide-next .premium-01-img,
.premium-slide-02 .swiper-slide-next .premium-02-img{
	left:auto;right:auto;top:auto;bottom:auto;
    /* width : 303px; */
	width : 391px;
    /* height : 478px; */
	height : 311px;
    /* bottom : 55px; */
	top : 317px;
    /* right : 0; */
	left : -54px;
    animation : premiumImg3 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
}
.premium-slide-01 .swiper-slide-next + .swiper-slide .premium-01-img{
	animation : premiumImg1 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
}
@keyframes premiumImg1{
    0%{transform: translateY(100px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes premiumImg2{
    0%{transform: translateY(-100px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes premiumImg3{
    0%{transform: translateY(100px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
.premium-01-title,
.premium-02-title{
    display: flex;
    flex-direction: column;
    /* font-size: 20px; */
	/* font-size : 21px; */
	/* font-size : 25px; */
	font-size : 20px;
    letter-spacing: -0.06em;
    position : absolute;

	 width : 303px;

	/* left : 117px; */
	right : 0;
	bottom : 563px;
    /* opacity : 0; */
}
.premium-01-title > p:nth-child(1),
.premium-02-title > p:nth-child(1){
    font-family: futura-pt;
    font-weight: 500;
    font-size: 14px;
    color : #000000;
    letter-spacing: 0.25em;
    margin-bottom : 6px;
	white-space : nowrap;
}
.premium-02-title > p:nth-child(1),
.premium-slide-01.on .premium-01-title > p:nth-child(1){
    color : #FFFFFF;
}
.premium-01-title > p:nth-child(2),
.premium-02-title > p:nth-child(2){
    /* color : #B1B1B1; */
	color : #000;
    /* line-height: 29px; */
	/* line-height : 34px; */
	line-height : 29px;
    font-weight: 400;
}
.premium-slide-01.on .premium-01-title > p:nth-child(2){
	color : #fff;
}
.premium-01-title > p:nth-child(3),
.premium-02-title > p:nth-child(3){
    /* color : #000000; */
	color : #ec6c00;
    /* line-height: 29px; */
	line-height : 34px;
    font-weight: 500;
}
.premium-02-title > p:nth-child(3),
.premium-slide-01.on .premium-01-title > p:nth-child(3){
    /* color : #FFFFFF; */
	color : #ec6c00;
}
.premium-slide-01 .swiper-slide-prev .premium-01-title,
.premium-slide-02 .swiper-slide-prev .premium-02-title{
	left:auto;right:auto;top:auto;bottom:auto;
    align-items: start;
    bottom : 55px;
    /* right : 110px; */
    left : 335px;
	white-space : nowrap;
    animation : premiumTitle1 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
	
	width : auto;
}
.premium-slide-01 .swiper-slide-active .premium-01-title,
.premium-slide-02 .swiper-slide-active .premium-02-title{
	left:auto;right:auto;top:auto;bottom:auto;
    align-items: end;
    top : 540px;
    /* left : 52px; */
	/* left: 41px; */
	right : 12.1875vw;
    animation : premiumTitle2 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
	
	width : auto;
}
.premium-slide-01 .swiper-slide-next .premium-01-title,
.premium-slide-02 .swiper-slide-next .premium-02-title{
	left:auto;right:auto;top:auto;bottom:auto;
    align-items: start;
    /* bottom : 563px; */
	top : 652px;
    /* right : 0; */
	left : -54px;
    width : 303px;
    animation : premiumTitle3 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
	
	width : auto;
}
.premium-slide-01 .swiper-slide-next + .swiper-slide .premium-01-title{
	 animation : premiumTitle1 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
}
@keyframes premiumTitle1{
    0%{transform: translateX(100px);opacity: 0;}
    100%{transform: translateX(0);opacity: 1;}
}
@keyframes premiumTitle2{
    0%{transform: translateX(-100px);opacity: 0;}
    100%{transform: translateX(0);opacity: 1;}
}
@keyframes premiumTitle3{
    0%{transform: translateY(-100px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
.premium-slide-stick{
    display: block;
    width : 1px;
    height : 160px;
    background : #EFEFEF;
    position : absolute;
    bottom : 0;
    /* left : 33.3333%; */
	left : 638px;
}
.premium-slide-02 .premium-slide-stick,
.premium-slide-01.on .premium-slide-stick{
    background : #3C3C3C;
}
.premium-01-progress,
.premium-02-progress{
    width : 1px;
    height : 69.7938vh;
    position : absolute;
    /* right : 33.3333%; */
    /* right : 29.5833%; */
	right : 88px;
    top : 0;
    background :#EFEFEF;
}
.premium-02-progress,
.premium-slide-01 .premium-01-progress{
    background : #3C3C3C;
}
.premium-01-progress > span,
.premium-02-progress > span{
    display: block;
    width : 100%;
    height : 0%;
    background : linear-gradient(to bottom, #CA76AD, #6786C1, #40A9B7);
    transition : height 1s;
}
.premium-toggle{
    display: flex;
    align-items: center;
    position : absolute;
    width : 440px;
    height : 42px;
    border-radius: 100px;
    background : #222222;
    bottom : 8.2474vh;
    /* left : 36.6667vw; */
    right : 40.4167vw;
    /* transform: translateX(-50%); */
    z-index: 1;
    cursor : pointer;

    transform: translateY(100px);
    opacity: 0;

    transition : transform 1s, opacity 1s;
}
.fp-active .premium-toggle{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.5s;
}
.premium-toggle > span{
    width : 50%;
    text-align: center;
    color : #626262;
    font-size: 12px;
    font-family: futura-pt;
    position : relative;
    z-index: 1;
    transition : color .5s;
}
.premium-toggle > .toggle-btn{
    position : absolute;
    left : 1px;
    width : 50%;
    height : 40px;
    background : #fff;
    border-radius: 100px;
    z-index: 0;
    transition : left .7s;
}
.on .premium-toggle > .toggle-btn{
    left : calc(50% - 1px);
}
.premium-toggle > span:nth-child(1){
    color : #000000;
}
.on .premium-toggle > span:nth-child(1){
    color : #626262;
}
.on .premium-toggle > span:nth-child(2){
    color : #000000;
}
.on .premium-toggle{
}
.premium-title{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap : 25px;
    position : absolute;
    /* left : 66.6666%; */
    /* right : 29.5833%; */
	/* right : 30px; */
	right : 88px;
	z-index : 1;
    transform: translateX(100%);
    opacity : 0;
    bottom : 8.2474vh;
    animation : premiumImgtitle1 1.5s both cubic-bezier(0.65, 0, 0.35, 1);
}
.premium-slide-01.on .premium-title{
	animation : premiumImgtitle2 1.5s both cubic-bezier(0.65, 0, 0.35, 1);
}
@keyframes premiumImgtitle1{
	0%{
		opacity : 0;
		transform : translateX(200%);
	}
	100%{
		opacity : 1;
		transform : translateX(100%);
	}
}
@keyframes premiumImgtitle2{
	0%{
		opacity : 0;
		transform : translateX(200%);
	}
	100%{
		opacity : 1;
		transform : translateX(100%);
	}
}

/* @keyframes premiumTitle1 {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(50%);
    }
} */
/* @keyframes premiumTitle2 {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(50%);
    }
} */
.premium-title > img{
    transform: translateY(100px);
    opacity: 0;
    transition : transform 1s, opacity 1s;
}
.fp-active .premium-title > img:nth-child(1){
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
}
.fp-active .premium-title > img:nth-child(2){
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.1s;
}
.fp-active .premium-title > img:nth-child(3){
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.2s;
}
.premium-sub-title{
    font-size: 28px;
    letter-spacing: -0.04em;
    position : absolute;
    font-weight: 300;
    left : 47.1875%;
    top : 192px;
    transition : color .5s;
    z-index: 1;
}
.on .premium-sub-title{
    /* color : #6F6F6F; */
	color : #fff;
}
.premium-sub-title > p:nth-child(1){
    transform: translateX(-100px);
    opacity: 0;
    transition : transform 1s, opacity 1s;
    
}
.premium-sub-title > p:nth-child(2){
    transform: translateX(100px);
    opacity: 0;
    transition : transform 1s, opacity 1s
}
.fp-active .premium-sub-title > p{
    transform: translateX(0);
    opacity: 1;
    transition-delay : .5s;
}
.premium-sub-title > p > span{
    font-weight: 700;
}

.premium-rotate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position : absolute;
    width : 112px;
    height : 112px;
    z-index: 1;
    right : 238px;
    /* bottom : 225px; */
	bottom : 270px;

    opacity: 0;
    transition : opacity 1s;
    transition: transform 0s ease;
}
.fp-active .premium-rotate-btn{
    opacity: 1;
    /* transition-delay : 1.5s; */
}
.premium-rotate-btn > .premium-rotate-text{
    background: url(/assets/images/main/premium-rotate-text.png);
    background-size: 100% 100%;
    width : 100%;
    height : 100%;
    position : absolute;
    animation : rotate-text 6s infinite linear;
}
@keyframes rotate-text {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.premium-rotate-btn > .premium-rotate-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width : 84px;
    height : 84px;
    border-radius: 50%;
    /* background : linear-gradient(to right, #E6E6E6, #B5B5B5, #555555); */
	background : linear-gradient(to right, #CC78AD, #268CCC);
}
.premium-rotate-btn > .premium-rotate-circle > img{
    transition : transform .5s;
}
.premium-rotate-btn:hover > .premium-rotate-circle > img{
    transform: translateX(15px);
}
/**/
.main-section-environment{
    background : #F3F5F2;
}
.environment-bg{
    position : absolute;
    width : 100%;
    height : 100%;
    left : 0;
    top : 0;
    z-index: 0;
}
.environment-bg > img{
    width : 100%;
    height : 100%;
    object-fit: cover;
}
.environment-inner{
    display: flex;
    justify-content: center;
    margin : 0 auto;
    height : 100%;
    position : relative;
    padding-top : 24.0206vh;
}
.environment-left{
    transform: translateX(25%);
    position : relative;
    z-index: 1;
    transition : transform 1s cubic-bezier(0.65, 0, 0.35, 1);
}
.fp-active .environment-left{
    transform: translateX(0);
    transition-delay: .7s;
}
.environment-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left : 99px;
    position : relative;
    transform: translateX(-100%);
    transition : transform 1s cubic-bezier(0.65, 0, 0.35, 1);
}
.fp-active .environment-right{
    transform: translateX(0);
    transition-delay: .7s;
}
.environment-right > p:nth-child(1){
    font-size: 24px;
    font-family: sandoll-gothicneo2;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin-bottom : 27px;
    color : #222222;

    transform : translateX(-50px);
    opacity : 0;
    transition : transform 1s , opacity 1s;
}
.fp-active .environment-right > p:nth-child(1){
    transform: translateX(0);
    opacity: 1;
    transition-delay: 1.5s;
}
.environment-right > img:nth-child(2){
    margin-bottom : 12px;

    transform : translateX(-50px);
    opacity : 0;
    transition : transform 1s, opacity 1s;
}
.fp-active .environment-right > img:nth-child(2){
    transform: translateX(0);
    opacity: 1;
    transition-delay: 1.6s;
}
.environment-right > img:nth-child(3){
    margin-bottom : 36px;

    transform : translateX(-50px);
    opacity : 0;
    transition : transform 1s, opacity 1s;
}
.fp-active .environment-right > img:nth-child(3){
    transform: translateX(0);
    opacity: 1;
    transition-delay: 1.7s;
}
.environment-right > p:nth-child(4){
    font-size : 18px;
    letter-spacing: -0.04em;
    color : #222222;
    margin-bottom : 50px;

    transform : translateX(-50px);
    opacity : 0;
    transition : transform 1s, opacity 1s;
}
.fp-active .environment-right > p:nth-child(4){
    transform: translateX(0);
    opacity: 1;
    transition-delay: 1.7s;
}
.environment-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 50%;
    line-height: 14px;
    font-size: 12px;
    font-weight: 500;
    width : 88px;
    height : 88px;
    background : #000000;
    color : #fff;
    padding-top : 22px;

    transform : translateY(50px);
    opacity : 0;
    /* transition : transform 1s, opacity 1s; */
    transition : opacity 1s;
}
.fp-active .environment-view{
    transform: translateY(0);
    opacity: 1;
    transition-delay : opacity 2s;
    /* transition-delay: 2s; */
}
.environment-view > span{
    font-family: futura-pt;
}
.environment-view > img{
    margin-top : 4.3px;
    transition : transform .3s
}
.environment-view:hover > img{
    transform: translateX(10px);
}
/**/
.location-bg{
    width : 100%;
    height : 100%;
    position : absolute;
    left : 0;
    top : 0;
    z-index: -1;
}
.location-bg > img:nth-child(1){
    width : 100%;
    height : 100%;
    object-fit: cover;
    object-position : center bottom;
}
/* .location-bg > img:nth-child(2){
    position : absolute;
    right : 161px;
    bottom : 22px;
} */
.location-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width : 1514px;
    height : 100%;
    /* padding-top : 25.2577vh; */
    margin : 0 auto;
}
.location-left{
    display: flex;
    gap : 32px;
    opacity: 0;
    transition : opacity 1s;
    transition-delay: .5s;
}
.fp-active .location-left{
    opacity: 1;
}
.location-left > .location-left-01{
    transform: translateX(calc(50% + 5px));
    transition : transform 1s cubic-bezier(0.65, 0, 0.35, 1);;
    transition-delay: 1s;
}
.location-left > .location-left-02{
    transform: translateX(calc(-50% - 5px));
    transition : transform 1s cubic-bezier(0.65, 0, 0.35, 1);;
    transition-delay: 1s;
}
.fp-active .location-left > .location-left-01,
.fp-active .location-left > .location-left-02{
    transform: translateX(0);
}
.location-address{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 14px;
    font-weight: 700;
    /* color : #222222; */
	/* color : #fff; */
	color: #1D8DCE;
    background: #fff;
    padding: 5px 0;
    letter-spacing: -0.04em;
    margin : 23px 0 20px;
    transform: translateY(-100%);
    opacity: 0;
    transition : opacity .5s, transform .5s;
	/* text-shadow : 0 0 5px rgba(0,0,0,1); */
}
.fp-active .location-address{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2s;
}
.location-address > span{
    width : 1px;
    height : 15px;
    /* background : #222222; */
	/* background : #fff; */
	background: #1D8DCE;
    transform: translateY(1px);
}
.location-address > p{
    font-weight: 400;
}
.location-address > p > span{
    font-weight: 500;
}
.location-btn-box{
    display: flex;
    justify-content: center;
    gap : 6px;
    transform: translateY(-100%);
    opacity: 0;
    transition : opacity .5s, transform .5s;
}
.fp-active .location-btn-box{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2.1s;
}
.location-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    width : 343px;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: -0.04em;
    line-height: 24px;
}
.location-right > p{
    transform: translateX(50px);
    opacity: 0;
    transition : transform .5s, opacity .5s;
}
.location-right > p > span{
    font-weight: 700;
}
.location-right > img{
    margin-bottom : 25px;
    transform: translateX(50px);
    opacity: 0;
    transition : transform .5s, opacity .5s;
}
.location-right > img:nth-child(5){
    margin-top : 40px;
}
.fp-active .location-right > p{
    opacity: 1;
    transform: translateX(0);
}
.fp-active .location-right > img{
    opacity: 1;
    transform: translateX(0);
}
.location-right > img:nth-child(1){
    transition-delay: 2s;
}
.location-right > p:nth-child(2){
    transition-delay: 2.1s;
}
.location-right > p:nth-child(3){
    transition-delay: 2.2s;
}
.location-right > p:nth-child(4){
    transition-delay: 2.3s;
}
.location-right > img:nth-child(5){
    transition-delay: 2s;
}
.location-right > p:nth-child(6){
    transition-delay: 2.1s;
}
.location-right > p:nth-child(7){
    transition-delay: 2.2s;
}
.location-right > p:nth-child(8){
    transition-delay: 2.3s;
}
.location-right > p:nth-child(9){
    transition-delay: 2.4s;
}

/* MOBILE */
@media (max-width : 991px){
	.visual-bg{
		position : absolute;
		z-index: -1;
		width : 100%;
		height : 100%;
		left : 0;
		top : 0;
		overflow : hidden;
	}
	.visual-bg > img{
		width : 100%;
		height : 100%;
		object-fit: cover;

		transform: scale(1.3);
		transition : transform 1.5s;
	}
	.swiper-slide-active .visual-bg > img{
		transform: scale(1);
	}
    .scroll-icon{
        display : none;
    }
    .visual-inner{
        max-width : 100%;
        width : 100%;
        height : 100%;
        /* padding : 20vh 7.2vw 0; */
		padding : 24.7656vh 7.2vw 0;
    }
    .visual-title-01{
        /* width : 60vw; */
        max-width : 327px;
        margin-bottom : 5vw;
    }
    .visual-title-02{
        width : 47vw;
        max-width : 242px;
        margin-bottom : 5vw;
	   margin-left: 20vw;
    }
    .visual-title-03{
        padding-top : 5vw;
        font-size: 3vw;
        line-height: 5vw;
    }
	.slide01 .visual-title{
		display : flex;
		flex-direction : column;
		align-items : center;
	}
	.slide01 .visual-title-01{
		width : 70.5333vw;
		max-width : 529px;
		margin : 0 0 2.5333vw 0;
		filter: brightness(2);
	}
	.slide01 .visual-title-02{
		width : 53.2vw;
		max-width : 399px;
		margin : 0 0 6.9333vw 0;
	}
	.slide01 .visual-title-03{
		/* width : 63.3333vw; */
		display : flex;
		flex-direction : column;
		align-items : center;
		gap : 3vw;
		width : auto;
		max-width : 475px;
		margin : 0;
		padding-top : 0;
	}
	.slide01 .visual-title-03 > img:nth-child(1){
		width : 30vw;
		max-width : 269px;
	}
	.slide01 .visual-title-03 > img:nth-child(2){
		width : 35vw;
		max-width : 343px;
	}
	.slide03 .visual-title-03 {
		position: relative;
		padding-top: 0px;
		width : 35vw;
		margin-left: 8vw;
	}
	.slide03 .visual-title{
		transform : scale(1);
		position : absolute;
		/* top : 15vh; */
		/* top : 20vh; */
		top : 16.5625vh;
	}
	.slide03 .visual-title-01 {
		width : 5vw;
		margin-bottom: 10px;
		margin-left: 12vw;
	} 
    .visual-title-03::after{
        /* width : 13vw; */
        /* max-width : 50px; */
		width : 0;
    }
    .visual-slide{
        width : 100%;
        height : 100%;
        overflow: hidden;
    }
    .visual-img-title{
        width : 80vw;
        max-width : 602px;
        height : 66.78vw;
        max-height : 500px;
		transform : translate(-50%, -50%) scale(1);
		/* top : 40%; */
		top : 35%;
    }
    .visual-img-title > img{
        position : absolute;
        transition : transform 1.5s, opacity 1s;
        transition-delay: 0;
    }
    .visual-img-title > img:nth-child(2){
        top : 27.09%;
    }
	.visual-ment {
		position : absolute;;
		top: 100%;;
		left: 23vw;;
		font-size: 2.3vw;;
		line-height: 4vw;
		color: #222222;
		font-weight: 500;
		transform: translateY(100px);
		opacity: 0;
		transition: transform 1.5s, opacity 1s;
		transition-delay: .9s;
	}
    .visual-btn-box{
        display: flex;
        align-items: center;
        gap : 2vw;
        position : absolute;
		top : calc(100% - 3vh);
        /* bottom : 3vh; */
        right : 7.2vw;
        z-index: 1;
		transform : translateY(-100%);
		transition : bottom 1s, transform 1s;
    }
	.visual-btn-box.top{
		/* bottom : calc(75vh - 55vw); */
		/* top : calc(16.5625vh + 15.625vw); */
		/* top : calc(16.5625vh + 35vh); */
		top : calc(16.5625vh + 38vh);
		transform : translateY(0);
	}
    .visual-btn-box > .quick-open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width : 108px;
        width : 22vw;
        max-height : 108px;
        height : 22vw;
        background : linear-gradient(135deg, #E072A8, #9589C0, #268CCD);
        font-weight: 500;
        border-radius: 50%;
        color : #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        position :relative;
    
        opacity: 0;
        transition : opacity 1s;
    }
    .visual-btn-box > .quick-open{
        opacity: 1;
        transition-delay : 2s;
    }
    .visual-btn-box > .quick-open > p{
        font-size: 3vw;
        letter-spacing: -0.06em;
        line-height: 4vw;
    }
    .visual-btn-box > .quick-open > p > span{
        font-family: futura-pt;
        font-size: 4vw;
        letter-spacing: -0.06em;
    }
    .visual-btn-box > .quick-open > p:nth-child(3){
        font-size: 3vw;
    }
    .visual-btn-box > .quick-customer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap : 8.4px;
        max-width : 108px;
        /* width : 18vw; */
		width : 22vw;
        max-height : 108px;
        /* height : 18vw; */
		height : 22vw;
        border-radius: 50%;
        background : #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        font-size: 2.8vw;
        font-weight: 500;
        font-family: futura-pt;
        position :relative;
    
        opacity: 0;
        transition : opacity 1s;
    }
    .visual-btn-box > .quick-customer{
        opacity: 1;
        transition-delay: 2s;
    }
    /**/
    .main-section-premium{
        position : relative;
    }
    .premium-slide-01{
        
    }
    .premium-slide-02{
        background : #000;
        display : none;
    }
    /* .on .premium-slide-01{
        display: none;
    } */
    .on .premium-slide-02{
        display: block;
    }
    .premium-slide-01,
    .premium-slide-02{
        position : absolute;
        width : 100%;
        height : 100%;
        left : 0;
        top : 0;
    }
    .premium-01-img,
    .premium-02-img{
        /* width : 391px; */
        width : 70vw;
        max-width: 391px;
        height : 100vw;
        max-height : 311px;
        /* height : 311px; */
        background : #eee;
        position : absolute;
        transition : transform 1s , opacity 1s;
        transform: translateY(0px);
        opacity: 1;
    }
    .premium-01-img > img,
    .premium-02-img > img{
        width : 100%;
        height : 100%;
        object-fit: cover;
        object-position: center bottom;
        transition : 1s;
    }
    .premium-slide-01 .swiper-slide-prev .premium-01-img,
    .premium-slide-02 .swiper-slide-prev .premium-02-img{
        bottom : auto;
        bottom : -20%;
        left : -30%;
        width : 50vw;
        height : 65vw;
        z-index: 1;
		opacity : 0;
        transition : 1s;
        /* animation : premiumImg1 1.5s both cubic-bezier(0.65, 0, 0.35, 1);; */
        animation : none;
    }
    .premium-slide-01 .swiper-slide-active .premium-01-img,
    .premium-slide-02 .swiper-slide-active .premium-02-img{
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        width : 55vw;
        height : 65vw;
		opacity : 1;
        /* animation : premiumImg2 1.5s both cubic-bezier(0.65, 0, 0.35, 1);; */
        animation : none;
    }
    .premium-slide-01 .swiper-slide-next .premium-01-img,
    .premium-slide-02 .swiper-slide-next .premium-02-img{
        width : 50vw;
        height : 65vw;
        bottom : auto;
		left : auto;
        top : -20%;
        right : -30%;
		opacity : 0;
        /* animation : premiumImg3 1.5s both cubic-bezier(0.65, 0, 0.35, 1);; */
        animation : none;
    }
    .premium-01-title,
    .premium-02-title{
        display: flex;
        flex-direction: column;
        font-size: 3.5vw;
        letter-spacing: -0.06em;
        position : absolute;
        opacity : 0;
    }
    .premium-01-title > p:nth-child(1),
    .premium-02-title > p:nth-child(1){
        font-family: futura-pt;
        font-weight: 500;
        /* font-size: 14px; */
        font-size : 2.3vw;
        color : #000000;
        letter-spacing: 0.25em;
        /* margin-bottom : 6px; */
        margin-bottom: 0;
    }
    .premium-02-title > p:nth-child(1),
	.premium-slide-01.on .premium-01-title > p:nth-child(1){
        color : #FFFFFF;
    }
    .premium-01-title > p:nth-child(2),
    .premium-02-title > p:nth-child(2){
        color : #B1B1B1;
        /* line-height: 29px; */
        line-height: 4.5vw;
        font-weight: 400;
    }
    .premium-01-title > p:nth-child(3),
    .premium-02-title > p:nth-child(3){
        color : #000000;
		color : #ec6c00;
        line-height: 6vw;
        font-weight: 500;
    }
    .premium-02-title > p:nth-child(3),
	.premium-slide-01.on .premium-01-title > p:nth-child(3){
        color : #FFFFFF;
		color : #ec6c00;
    }
    .premium-slide-01 .swiper-slide-prev .premium-01-title,
    .premium-slide-02 .swiper-slide-prev .premium-02-title{
        align-items: start;
        bottom : auto;
        top : 50%;
        left : 7.2vw;
        animation : premiumTitle1-2 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
    }
    .premium-slide-01 .swiper-slide-active .premium-01-title,
    .premium-slide-02 .swiper-slide-active .premium-02-title{
        align-items: start;
        /* top : 540px; */
        /* top : 65%; */
        top : auto;
        bottom : auto;
        top : calc(50% + 35vw);
        /* left : 7.2vw; */
        left : calc(50% - 27.5vw);
        animation : premiumTitle2 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
    }
    .premium-slide-01 .swiper-slide-next .premium-01-title,
    .premium-slide-02 .swiper-slide-next .premium-02-title{
        align-items: start;
        bottom : auto;
        right : auto;
        width : 303px;
        animation : premiumTitle3-2 1.5s both cubic-bezier(0.65, 0, 0.35, 1);;
    }
    @keyframes premiumTitle1-2{
        0%{transform: translateX(100px);opacity: 0;}
        100%{transform: translateX(0);opacity: 0;}
    }
    @keyframes premiumTitle2{
        0%{transform: translateX(-100px);opacity: 0;}
        100%{transform: translateX(0);opacity: 1;}
    }
    @keyframes premiumTitle3-2{
        0%{transform: translateY(-100px);opacity: 0;}
        100%{transform: translateY(0);opacity: 0;}
    }
    .premium-slide-stick{
        display: none;
    }
    .premium-01-progress,
    .premium-02-progress{
        /* width : 1px; */
		width : 3px;
        height : 100vh;
        position : absolute;
        /* right : 33.3333%; */
        /* right : 29.5833%; */
        right : 0;
        top : 0;
        background :#EFEFEF;
    }
    .premium-toggle{
        display: flex;
        align-items: center;
        position : absolute;
        width : 60vw;
        /* height : 42px; */
        max-height : 42px;
        height : 10vw;
        border-radius: 100px;
        background : #222222;
        bottom : 3vh;
        left : 50%;
        transform: translateX(-50%);
        z-index: 1;
        cursor : pointer;
        opacity: 0;
    
        transition : transform 1s, opacity 1s;
    }
    .fp-active .premium-toggle{
        transform: translateX(-50%);
        opacity: 1;
        transition-delay: 0;
    }
    .premium-toggle > span{
        width : 50%;
        text-align: center;
        color : #626262;
        font-size: 12px;
        font-family: futura-pt;
        position : relative;
        z-index: 1;
        transition : color .5s;
    }
    .premium-toggle > .toggle-btn{
        position : absolute;
        left : 1px;
        width : 50%;
        /* height : 40px; */
        height : calc(10vw - 2px);
    }
    .premium-title{
        display: flex;
        flex-direction: row;
        align-items: end;
		justify-content : center;
        /* gap : 25px; */
        width : auto !important;
		height : 5vw;
        gap : 2vw;
        position : absolute;
        /* left : 66.6666%; */
        right : 7.2vw;
        left : auto;
        transform: translateX(0);
        opacity : 0;
        bottom : auto;
        /* top : 10vh; */
        top : 13vh;
        animation : mpremiumTitle1 1.5s both cubic-bezier(0.65, 0, 0.35, 1);
    }
	.premium-slide-01.on .premium-title{
		animation : mpremiumTitle2 1.5s both cubic-bezier(0.65, 0, 0.35, 1);
	}
    @keyframes mpremiumTitle1 {
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
	@keyframes mpremiumTitle2 {
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .premium-title > img{
        width : auto !important;
		height : 100%;
        transform: translateY(100px);
        opacity: 0;
        transition : transform 1s, opacity 1s;
    }
    .fp-active .premium-title > img:nth-child(1){
        transform: translateY(0);
        opacity: 1;
        transition-delay: 1s;
    }
	
    .fp-active .premium-title > img:nth-child(2){
        transform: translateY(0);
        opacity: 1;
        transition-delay: 1.1s;
    }
    .fp-active .premium-title > img:nth-child(3){
        transform: translateY(0);
        opacity: 1;
        transition-delay: 1.2s;
    }
    .premium-sub-title{
        /* font-size: 28px; */
        text-align: end;
        font-size : 4.5vw;
        line-height: 6vw;
        left : auto;
        right : 7.2vw;
        /* top : calc(15vh + 18vw); */
		top : 17.5vh;
    }
    
    .premium-rotate-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        position : absolute;
        width : 16vw;
        max-width : 112px;
        height : 16vw;
        max-height : 112px;
        z-index: 1;
        /* right : 238px; */
        right : 22.5vw;
        bottom : auto;
        /* top : 50%; */
		bottom : 17.5%;
        
        opacity: 0;
        transition : opacity 1s;
        transition: transform 0s ease;
        transform: translate(50%, 50%) !important;
    }
    .fp-active .premium-rotate-btn{
        opacity: 1;
        /* transition-delay : 1.5s; */
    }
    .premium-rotate-btn > .premium-rotate-text{
        background: url(/assets/images/main/premium-rotate-text.png);
        background-size: 100% 100%;
        width : 100%;
        height : 100%;
        position : absolute;
        animation : rotate-text 6s infinite linear;
    }
    @keyframes rotate-text {
        0%{transform: rotate(0);}
        100%{transform: rotate(360deg);}
    }
    .premium-rotate-btn > .premium-rotate-circle{
        display: flex;
        align-items: center;
        justify-content: center;
        width : 13vw;
        max-width : 84px;
        height : 13vw;
        max-height : 84px;
        border-radius: 50%;
        /* background : linear-gradient(to right, #E6E6E6, #B5B5B5, #555555) */
		background : linear-gradient(to right, #CC78AD, #268CCC);
    }
    .premium-rotate-btn > .premium-rotate-circle > img{
        width : 4vw;
        max-width: 32px;
        transition : transform .5s;
    }
    .premium-rotate-btn:hover > .premium-rotate-circle > img{
        transform: translateX(15px);
    }
    /**/
    .main-section-environment{
        background : #F3F5F2;
    }
    .environment-bg{
        position : absolute;
        width : 100%;
        height : 100%;
        left : 0;
        top : 0;
        z-index: 0;
    }
    .environment-bg > img{
        width : 100%;
        height : 100%;
        object-fit: cover;
    }
    .environment-inner{
        display: flex;
        flex-direction : column;
        justify-content: center;
        gap : 3vh;
        margin : 0 auto;
        height : 100%;
        position : relative;
        padding : 0 7.2vw;
    }
    .environment-left{
        opacity: 0;
        transition : transform 1s cubic-bezier(0.65, 0, 0.35, 1), opacity 1s;
    }
    .fp-active .environment-left{
        transform: translateX(0);
        opacity: 1;
    }
    .environment-right{
        padding-left : 0;
        opacity: 0;
        transition : transform 1s cubic-bezier(0.65, 0, 0.35, 1), opacity 1s;
    }
    .fp-active .environment-right{
        transform: translateX(0);
        opacity: 1;
        transition-delay: .7s;
    }
    .environment-right > p:nth-child(1){
        font-size: 4vw;
        margin-bottom : 2vh;
    }
    .environment-right > img:nth-child(2){
        margin-bottom : 1vh;
        width : 65vw;
    }
    .environment-right > img:nth-child(3){
        margin-bottom : 2vh;
        width : 83vw;
    }
    .environment-right > p:nth-child(4){
        font-size : 3.2vw;
        letter-spacing: -0.04em;
        color : #222222;
        margin-bottom : 5vh;
    
        transform : translateX(-50px);
        opacity : 0;
        transition : transform 1s, opacity 1s;
    }
    .fp-active .environment-right > p:nth-child(4){
        transform: translateX(0);
        opacity: 1;
        transition-delay: 1.7s;
    }
    .environment-view{
        line-height: 3vw;
        font-size: 2.5vw;
        max-width : 88px;
        width : 18vw;
        max-height : 88px;
        height : 18vw;
        padding-top : 3.5vw;
        transform : translateY(50px);
        opacity : 0;
        /* transition : transform 1s, opacity 1s; */
        transition : transform 1s, opacity 1s;
    }
    .fp-active .environment-view{
        transform: translateY(0);
        opacity: 1;
        transition-delay : 2s;
    }
    /**/
    .location-bg{
        width : 100%;
        height : 100%;
        position : absolute;
        left : 0;
        top : 0;
        z-index: -1;
    }
    .location-bg > img:nth-child(2){
        max-width: 341px;
        width : 40vw;
        position : absolute;
        right : 7.2vw;
        bottom : 3vh;
    }
    .location-inner{
        display: flex;
        flex-direction: column;
        max-width : 100%;
        height : 100%;
        padding : 0 7.2vw;
    }
    .location-left{
        display: flex;
        flex-direction: column;
        gap : 10px;
        opacity: 0;
        transition : opacity 1s;
        transition-delay: .5s;
    }
    .fp-active .location-left{
        opacity: 1;
    }
    .location-left > .location-left-01{
        transform: translateX(calc(50% + 5px));
        transition : transform 1s cubic-bezier(0.65, 0, 0.35, 1), opacity 1s;
        opacity : 0;
        transition-delay: 1s;
    }
    .location-left > .location-left-02{
        transform: translateX(calc(-50% - 5px));
        transition : transform 1s cubic-bezier(0.65, 0, 0.35, 1), opacity 1s;
        opacity : 0;
        transition-delay: 1s;
    }
    .fp-active .location-left > .location-left-01,
    .fp-active .location-left > .location-left-02{
        transform: translateX(0);
        opacity : 1;
    }
    .location-address{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 2vw;
        font-size: 2.8vw;
        font-weight: 700;
        /* color : #222222; */
		/* color : #fff; */
        letter-spacing: -0.04em;
        margin : 2vw 0 2vw;
        transform: translateY(-100%);
        opacity: 0;
        transition : opacity .5s, transform .5s;
    }
    .fp-active .location-address{
        opacity: 1;
        transform: translateY(0);
        transition-delay: 1.5s;
    }
    .location-address > span{
        width : 1px;
        height : 2.5vw;
        /* background : #222222; */
        transform: translateY(1px);
    }
    .location-address > p{
        font-weight: 400;
    }
    .location-address > p > span{
        font-weight: 500;
    }
    .location-btn-box{
        display: flex;
        justify-content: center;
        width : 70vw;
        margin : 0 auto;
        gap : 6px;
        transform: translateY(-100%);
        opacity: 0;
        transition : opacity .5s, transform .5s;
    }
    .fp-active .location-btn-box{
        opacity: 1;
        transform: translateY(0);
        transition-delay: 1.6s;
    }
    .location-right{
        display: flex;
        flex-direction: column;
        align-items: end;
        width : 343px;
        white-space: nowrap;
        font-size: 14px;
        letter-spacing: -0.04em;
        line-height: 24px;
    }
    .location-right > p{
        transform: translateX(50px);
        opacity: 0;
        transition : transform .5s, opacity .5s;
    }
    .location-right > p > span{
        font-weight: 700;
    }
    .location-right > img{
        margin-bottom : 25px;
        transform: translateX(50px);
        opacity: 0;
        transition : transform .5s, opacity .5s;
    }
    .location-right > img:nth-child(5){
        margin-top : 40px;
    }
    .fp-active .location-right > p{
        opacity: 1;
        transform: translateX(0);
    }
    .fp-active .location-right > img{
        opacity: 1;
        transform: translateX(0);
    }

	.swiper-container-vertical>.swiper-wrapper {
		margin-top: 30px;
	}
}